<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="celebrities/create">New Celebrity</a>
<a href="celebrities/">Celebrities</a>
<a href="../movies">Lista de peliculas</a>
<a href="../movies/create">Crear pelicula</a>