<h1>New Movie</h1>


<form action="/movies/create" method="POST">

    <label for="title">Titulo:</label>
    <input name="title" type="text"></input>

    <label for="genre">Genero:</label>
    <input name="genre" type="text"></input>

    <label for="plot">Plot:</label>
    <input name="plot" type="text"></input>

    <label for="cast">Cast:</label>
    <select name="cast">
        {{#each allCelebrities}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select> 
    <button type="submit">Crear Pelicula</button>


</form>
